#titulo{
    color: red;
    font-style:initial ;
}
.imagem{
    align-items: center;
}
body{
    margin-left: 15%;
    margin-right: 45%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#redesociais{
    margin-inline: 40%;
    
}